# Maven

target/
!.mvn/wrapper/maven-wrapper.jar

# IDE

.idea/
*.iml
.vscode/

# OS files

.DS_Store
Thumbs.db

# Logs

*.log

# Environment files

.env
.env.*
application-local.properties

# Build files

dependency-reduced-pom.xml

# Temporary files

*.tmp
*.swp
